# Ignore everything by default
*

# Allow directories so Git can look inside them
!*/

# Only allow C source and header files
!*.c
!*.h

# Keep the .gitignore file itself tracked
.gitignore

#Ignore files by their names
test.c
